!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{ title }}</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/assets/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />

    <!-- Custom fonts for this theme -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Theme CSS -->
    <link href="/assets/css/freelancer.css" rel="stylesheet" />
    <link href="/assets/css/custom.css" rel="stylesheet" />
    <!-- Script for Netlify CMS -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body id="page-top" class="bg-primary">
    {% include 'header.njk' %}

    <div class="container">
      {{ content | safe }}
    </div>
    <!-- /.container-->

    {% include 'footer.njk' %}
    
  </body>
</html>
