---
title: About
layout: 'base.njk'
---

    <!-- About PDG Section -->
<section class="page-section bg-light text-dark mb-0" id="about">
  <div class="container mt-4">
    <!-- About Section Heading -->
    {% include 'section-header.njk' %}

    <!-- About PDG Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">
          Plumas Disc Golf is a non-profit organization dedicated to furthering
          the sport of disc golf in Plumas County, CA.
        </p>
        <p class="lead">
          PDG was founded by Jeremiah Bridges and Richard Dolezal in 2018. Our
          first course was Pioneer Park Disc Golf Course in Quincy, which was
          made possible by the help of James Shipp of
          <a href="http://cprpd.com/" target="_blank"
            >Central Plumas Recreation and Parks District</a
          >, and we have hopes of opening other courses in the area.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">
          We run tournaments, leagues, fundraisers, and other events to further
          awareness and participation in the sport we love, disc golf. We
          outreach using traditional and social media avenues, including word of
          mouth, flyers, tweets, Facebook posts, and more.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About Plumas County Section -->
<section class="page-section bg-light text-dark mb-0">
  <div class="container">
    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase">
      About Plumas County
    </h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-dark">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Plumas County Section Content -->
    <div class="row">
      <div class="col-lg-12 mx-auto max-ch">
        <blockquote class="blockquote">
          <h3>
            What's your outdoor passion? Winter sports? Snowmobiling? Skiing?
            Mountain biking? Fishing? Camping? Golf? Scenic drives? Relaxation?
            We have it all.
          </h3>
          <p class="mb-0">
            There are lots of Places to Stay all around the county, from
            high-end villas to small motels with friendly local staff. Most
            campgrounds and RV parks are open, so just click on Places to Camp
            to find an ideal spot for you. Plumas County is still virtually
            unknown by many, once you discover the county and visit you will
            return. Plumas County is an easy drive from the Bay Area,
            Sacramento, Reno, and Tahoe. Once here you can sit back and relax or
            choose to challenge yourself, hiking, mountain biking, fishing,
            horseback riding, or off-road adventures. For the motorcyclist we
            have some of the best roads to travel with great scenery. The
            businesses of Plumas County are waiting to serve you and make your
            visit memorable!
          </p>
          <footer class="blockquote-footer">
            <a href="http://plumascounty.org" target="_blank"
              >PlumasCounty.org</a
            >
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>