---
title: Calendar
layout: 'base.njk'
---

<!-- Membership Section -->
<section class="page-section bg-light" id="calendar">
  <div class="container mt-4">
    <!-- Membership Section Heading -->
{% include 'section-header.njk' %}
  </div>
</section>

<!-- Standard Membership Section -->
<section class="page-section bg-light my-0">
  <div class="container" id="google-calendar">
    <!-- <div class="row">
      <div class="col-xs-12 mx-auto">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%231abc9c&ctz=America%2FLos_Angeles&showTitle=1&title=Plumas%20Disc%20Golf%20Events&showCalendars=0&showDate=1&src=Y19yb21mcjVtaWRzaGIxdm9uODVxZm92M29pOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23009688"
          style="border: solid 1px #777"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div> -->
    <div class="responsiveCal">
      <div class="deskContent">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%231abc9c&ctz=America%2FLos_Angeles&showTitle=1&title=Plumas%20Disc%20Golf%20Events&showCalendars=0&showDate=1&src=Y19yb21mcjVtaWRzaGIxdm9uODVxZm92M29pOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23009688"
          style="border: 0"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
      <div class="phoneContent">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%231abc9c&ctz=America%2FLos_Angeles&mode=AGENDA&showTabs=0&showCalendars=0&src=Y19yb21mcjVtaWRzaGIxdm9uODVxZm92M29pOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23009688"
          style="border: 0"
          width="280"
          height="500"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>
  </div>
</section>