---
title: Donate
layout: 'base.njk'
---


<!-- Membership Section -->
<section class="page-section bg-light" id="donate">
  <div class="container mt-4">
    <!-- Membership Section Heading -->
    {% include 'section-header.njk' %}
  </div>
</section>

<!-- Donation Text Section -->
<section class="page-section bg-light my-0">
  <div class="container suck-up">
    <div class="row">
      <div class="col-xs-12 mx-auto">
        <p class="lead max-ch">
          If you are interested in making a donation to Plumas Disc Golf, thank
          you. Donations will allow us to maintain our current courses better,
          create new courses in Plumas County, and support the creation and
          maintenance of a youth league. We are always working to try and better
          our community through the lens of disc golf, and your donation will
          help us complete our many projects that much quickly. Thank you for
          your consideration.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Donation Button Section -->
<section class="page-section my-0">
  <div class="container suck-up" id="donate-button">
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="DF3L9U438T2NS" />
      <input
        style="display: block; margin: 0 auto"
        type="image"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
        border="0"
        name="submit"
        title="PayPal - The safer, easier way to pay online!"
        alt="Donate with PayPal button"
      />
      <img
        alt=""
        border="0"
        src="https://www.paypal.com/en_US/i/scr/pixel.gif"
        width="1"
        height="1"
      />
    </form>
  </div>
</section>