---
title: Membership
layout: 'base.njk'
---

<!-- Membership Section -->
    <section class="page-section bg-light" id="membership">
        <div class="container mt-4">

          {% include 'section-header.njk' %}
          
            <!-- Membership Year Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">2022</h2>
            <!-- <h3 class="text-center mb-0">For info about the 2022 Membership Drive, click <a href="https://plumasdiscgolf.com/events/623912b5a107f80292b62039">here!</a></h3> -->
        </div>
    </section>

    <!-- Standard Membership Section -->
    <section class="page-section bg-light text-dark my-0">
        <div class="container suck-up">
            
            <!-- Standard Membership Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase">
                Standard Level Membership
            </h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Standard Membership Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <div>
                        <a
                            href="https://firebasestorage.googleapis.com/v0/b/plumasdiscgolf-f3247.appspot.com/o/Membership%2F2022%20-%20Bag%20Tag%20large.jpg?alt=media&token=8bfeb3ef-d03d-4328-a36d-f64899eace4d">
                            <img src="https://firebasestorage.googleapis.com/v0/b/plumasdiscgolf-f3247.appspot.com/o/Membership%2F2022%20-%20Bag%20Tag%20large.jpg?alt=media&token=8bfeb3ef-d03d-4328-a36d-f64899eace4d"
                                class="membership-image" alt="2022 Bag tags for Plumas Disc Golf members">
                        </a>
                        <a
                            href="https://firebasestorage.googleapis.com/v0/b/plumasdiscgolf-f3247.appspot.com/o/Membership%2F2022%20-%20Towel.jpg?alt=media&token=01429e07-4f73-4e36-bbd7-186bbecc7410">
                            <img src="https://firebasestorage.googleapis.com/v0/b/plumasdiscgolf-f3247.appspot.com/o/Membership%2F2022%20-%20Towel.jpg?alt=media&token=01429e07-4f73-4e36-bbd7-186bbecc7410"
                                class="membership-image" alt="2022 Towel for Plumas Disc Golf members">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        The Standard Level Membership for 2022 includes:
                        <ul>
                            <li>2022 Custom Medallion Bag Tags</li>
                            <li>Custom Plumas Disc Golf branded towel (11 x 17 inches)</li>
                            <li>Discount for entry to club events*</li>
                        </ul>
                        <h4>Cost: $25</h4>
                    </p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="PZHP9RFFKR3PE">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Founder Membership Section -->
    <section class="page-section bg-light mb-0">
        <div class="container">
            <!-- Founder Membership Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase">
                Founder Level Membership
            </h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Founder Membership Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <div>
                        <a
                            href="https://firebasestorage.googleapis.com/v0/b/plumasdiscgolf-f3247.appspot.com/o/Membership%2F2022%20-%20Founder%20Tag.jpg?alt=media&token=c30959b1-1e91-4b16-b96b-bc93282aad4d">
                            <img src="https://firebasestorage.googleapis.com/v0/b/plumasdiscgolf-f3247.appspot.com/o/Membership%2F2022%20-%20Founder%20Tag.jpg?alt=media&token=c30959b1-1e91-4b16-b96b-bc93282aad4d"
                                class="membership-image" alt="Founder Tag for Plumas Disc Golf founding members">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        The Founder Level Membership for 2022 includes:
                        <ul>
                            <li>Everything in the Standard Membership</li>
                            <li>Custom Glow-in-the-Dark Metal Founder's Tag</li>
                        </ul>
                        <p>LIMITED OFFER - Only available while supplies last</p>
                        <h4>Cost: $40</h4>
                    </p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="SNCQMF6W7FVK4">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 mx-auto">
                    <p class="membership-disclaimer max-ch">* Discount does not apply to "tournament in a box events". Tournament in a box events include, but are not limited to: Trilogy Challenge, United States Amateur Matchplay events, and MVP Circuit events.</p>
                </div>
            </div>
        </div>
    </section>